@import url(bootstrap.min.css);
@import url(all.min.css);




body{
    background-color: #ffffff;
}
p{

    margin: 0;
}

/*Style for Header*/

header{

    margin-bottom:25px;
}


header .small{
    background-color: #4f6970;
   padding-bottom: 20px;
}
header .small .form-inline{
    padding-top: 13px;
}


header .large {
    background-color: whitesmoke;

    padding-bottom: 15px;
    padding-top: 15px;
}

header .nav-item .nav-link{
    color:black;
    text-align: center;
}


header .header-top{
    background-color: #484848;
}
header .header-top .wc-message{
    color: #9f9e9c;
    font-size: 0.7rem;
    margin-top: 16px;
}
header .header-top .row .col-9 .nav{
    margin-top: 8px;
}
header .header-top .row .col-9 .nav .nav-link{
    color: #9f9e9c;
    font-size: 0.75rem;
}
header .header-top .search .form-control{
    width: 60%;
    height: 28px;
    display: inline-block;
    padding: 0 0 0 4px;
    border-radius: 1px;
}
header .header-top .search .btn{
    margin-left: -3px;
    border-radius: 1px;
    padding: 0;
    width: 28px;
    height: 28px;
    position: relative;
    bottom: 4px;
}


footer{
    margin-top:70px;
}



header .bg-light{
    background-color: #ffffff !important;
}

h1{
    color:darkblue;
    font-family: Arial;
    font-size: 25px;
    margin-top:50px;
    margin-bottom: 20px;




}






