Body {
    background-color:rgba(40,57,101,.9) !important;
    color: white;

}
h1 {
    color: white;
}
h1 {
    text-align: center;
}
h1 {
    color: white;
    padding-top: 200px;
}
h1  {
    font-size: 300%;
}
p {
    text-align: center;
}
p a {
    color: darkred;
    text-align: center;
    font-size: 200%;
    padding-top: 50px;
}
