h3{
    text-align: center;
    text-decoration: underline;
    color:white;
}
body{
    background-color: rgb(4,29,49);
}
#name{
    width: 80%;
    padding: 5px;
    border-radius: 5%;
    outline: 0;
    border: 1px solid lightgray;
}
table{
    color: white;
    background-color: rgb(8,48,80);
    border-collapse: collapse;
    font-size: 16px;
    font-family: serif;
}